name: Build and publish

on:
  push:
    branches:
      - front
  pull_request:
    branches:
      - front

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: emmamau/frontTemplate

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    concurrency:
      cancel-in-progress: true
      group: ${{ github.workflow }}-${{ github.ref }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha
            type=ref,event=branch

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.ref == 'refs/heads/front' }}
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy on render.com
        if: github.ref == 'refs/heads/front'
        env:
          deploy_url: ${{ secrets.FRONT }}
        run: |
          curl -X POST "$deploy_url"
